.card{
    display: flex;
    background-color: var(--card-color);
    width: 384px;
    height: 613px;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.card img{
    border-radius: 50px;
    height: 89px;
    margin: 40px 148px 0px 148px;
}

.card .nome{
    font-size: 24px;
    font-weight: 700;
    margin: 28px 93px 0px 93px;
    text-align: center;
}

.card .cidade-pais{
    margin: 9px 107px 0px 107px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: var(--subtitle-color);
}

.card .profissao{
    margin: 28px 64px 0px 64px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}

.card .redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.card .redes .rede{
    background-color: var(--button-color);
    height: 45px;
    width: 304px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: var(--default-text-color);
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 14px;
    margin: 17px 0px 0px 0px;
    border-radius: 10px;
}

.card .redes .rede1{
    margin-top: 24px;
}

.card .redes .rede:hover{
    background-color: var(--subtitle-color);
    color: black;
    transition: 0.5s;
}
